// Fuentes
// $fuente_principal: 'Poppins', sans-serif;
   $fuente_principal: 'Inter', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$naranja: #FFAC65;
$azul: #0032A0;

$negro: #000;
$blanco: #FFFFFF;
$gris: #D9D9D9;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900