@use 'base/mixins' as m;
@use 'base/variables' as v;


.about {
    p,h1,h2{
        color: v.$naranja;
    }
    @include m.tablet {
        .contenidos {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
        }
        iframe {
            width:110rem;
            height:35rem;
        }
    }
}